<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li>
            <a href="{{ site.url }}/">主页</a>
        </li>
        <li>
            <a href="#">个人简介</a>
            <ul class="dl-submenu">
                <li>
                    <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
                    <h4>{{ site.title }}</h4>
                    <p>{{ site.description }}</p>
                </li>
                <li>
                    <a href="{{ site.url }}/about/">
                        <span class="btn btn-inverse">Learn More</span>
                    </a>
                </li>
                {% if site.github-url %}
                <li>
                    <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-github"></i> Github</a>
                </li>{% endif %} {% if site.cnblogs %}
                <li>
                    <a href="https://www.cnblogs.com/{{ site.cnblogs }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-rss"></i> Cnblogs </a>
                </li>{% endif %} {% if site.weibo %}
                <li>
                    <a href="http://www.weibo.com/{{ site.weibo }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-weibo"></i> Weibo</a>
                </li>{% endif %} {% if site.email %}
                <li>
                    <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-envelope-square"></i> Email</a>
                </li>{% endif %} {% if site.twitter %}
                <li>
                    <a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
                </li>{% endif %} {% if site.facebook %}
                <li>
                    <a href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-facebook-square"></i> Facebook</a>
                </li>{% endif %} {% if site.google.plus %}
                <li>
                    <a href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-google-plus-square"></i> Google+</a>
                </li>{% endif %} {% if site.linkedin %}
                <li>
                    <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
                </li>{% endif %} {% if site.xing %}
                <li>
                    <a href="http://www.xing.com/profile/{{ site.xing }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-xing-square"></i> Xing</a>
                </li>{% endif %} {% if site.instagram %}
                <li>
                    <a href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-instagram"></i> Instagram</a>
                </li>{% endif %} {% if site.tumblr %}
                <li>
                    <a href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-tumblr-square"></i> Tumblr</a>
                </li>{% endif %} {% if site.stackoverflow %}
                <li>
                    <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-stack-overflow"></i> StackOverflow</a>
                </li>{% endif %} {% if site.lastfm %}
                <li>
                    <a href="http://lastfm.com/user/{{ site.lastfm }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-music"></i> LastFm</a>
                </li>{% endif %} {% if site.dribbble %}
                <li>
                    <a href="http://dribbble.com/{{ site.dribbble }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-dribbble"></i> Dribble</a>
                </li>{% endif %} {% if site.pinterest %}
                <li>
                    <a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-pinterest"></i> Pinterest</a>
                </li>{% endif %} {% if site.foursquare %}
                <li>
                    <a href="http://foursquare.com/{{ site.foursquare }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-foursquare"></i> Foursquare</a>
                </li>{% endif %} {% if site.steam %}
                <li>
                    <a href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-steam-square"></i> Steam</a>
                </li>{% endif %} {% if site.youtube %}
                <li>
                    <a href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-youtube-square"></i> Youtube</a>
                </li>{% endif %} {% if site.youtube-channel %}
                <li>
                    <a href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-youtube"></i> Youtube</a>
                </li>{% endif %} {% if site.soundcloud %}
                <li>
                    <a href="http://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-soundcloud"></i> SoundCloud</a>
                </li>{% endif %} {% if site.flickr %}
                <li>
                    <a href="http://www.flickr.com/{{ site.flickr }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-flickr"></i> Flickr</a>
                </li>{% endif %} {% if site.codepen %}
                <li>
                    <a href="http://codepen.io/{{ site.codepen }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-codepen"></i> Codepen</a>
                </li>{% endif %} {% if site.keybase %}
                <li>
                    <a href="https://keybase.io/{{ site.keybase }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-key"></i> Keybase</a>
                </li>{% endif %} {% if site.xmpp %}
                <li>
                    <a href="xmpp:{{ site.xmpp }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-lightbulb-o"></i> XMPP</a>
                </li>{% endif %} {% if site.hackernews %}
                <li>
                    <a href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-fw fa-hacker-news"></i> Hacker News</a>
                </li>{% endif %}
            </ul>
            <!-- /.dl-submenu -->
        </li>
        <li>
            <a href="#">文章</a>
            <ul class="dl-submenu">
                <li>
                    <a href="{{ site.url }}/posts/">所有文章</a>
                </li>
                <li>
                    <a href="{{ site.url }}/tags/">所有标签</a>
                </li>
            </ul>
        </li>
        {% for link in site.data.navigation %} {% if link.url contains 'http' %} {% assign domain = '' %} {% else %} {% assign domain
        = site.url %} {% endif %}
        <li>
            <a href="{{ domain }}{{ link.url }}" {% if link.title contains 'gis' || '面试题' %}target="_blank" rel="noopener noreferrer"
                {% endif %}>{{ link.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <!-- /.dl-menu -->
</nav>
<!-- /.dl-menuwrapper -->

<script>
    (function (e) {

        var bombFlag = true;

        var elBody = document.getElementsByTagName("body")[0];

        var a_idx = 0;
        elBody.onclick = function (e) {
            if (bombFlag) {

                var ev = e || event,
                    x = ev.clientX,
                    y = ev.clientY;

                var color1 = Math.floor((Math.random() * 255));
                var color2 = Math.floor((Math.random() * 255));
                var color3 = Math.floor((Math.random() * 255));

                var _timer = null;

                var a = new Array("圣墨", "乐观", "❤", "积极", "向上", "自由", "正能量", "(*^▽^*)", "元气满满", "开心", "快乐", "善良", "可爱", "暴富", "暴瘦", "❤");

                var elSpan = document.createElement("span");

                a_idx = (a_idx + 1) % a.length;

                elSpan.innerHTML = a[a_idx];

                elSpan.style.zIndex = 999;
                elSpan.style.position = "fixed";
                elSpan.style.top = y - 20 + "px",
                    elSpan.style.left = x - 10 + "px";
                elSpan.style.color = 'rgb(' + color1 + ',' + color2 + ',' + color3 + ')';
                elSpan.style.fontWeight = "bold";
                elSpan.className = "floatSpan";

                elBody.appendChild(elSpan);

                var el = document.getElementsByClassName("floatSpan")[0];

                var cur_y = y - 20;

                var cur_opacity = 1;

                var cur_fontSize = 14;

                _timer = setInterval(function () {

                    cur_y += -10;
                    cur_opacity -= 0.1;
                    cur_fontSize += 1;

                    el.style.top = cur_y + "px";
                    el.style.opacity = cur_opacity;
                    el.style.fontSize = cur_fontSize + "px";
                }, 50);

                setTimeout(function () {
                    clearInterval(_timer);
                    elBody.removeChild(el);
                    bombFlag = true;
                }, 500);
            }

            bombFlag = false;
        };
    })();

    /**
 * jquery.dlmenu.js v1.0.1
 * http://www.codrops.com
 *
 * Licensed under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Copyright 2013, Codrops
 * http://www.codrops.com
 */
(function($, window, undefined) {
    var Modernizr = window.Modernizr
      , $body = $("body");
    $.DLMenu = function(options, element) {
        this.$el = $(element);
        this._init(options)
    }
    ;
    $.DLMenu.defaults = {
        animationClasses: {
            classin: "dl-animate-in-1",
            classout: "dl-animate-out-1"
        },
        onLevelClick: function(el, name) {
            return false
        },
        onLinkClick: function(el, ev) {
            return false
        }
    };
    $.DLMenu.prototype = {
        _init: function(options) {
            this.options = $.extend(true, {}, $.DLMenu.defaults, options);
            this._config();
            var animEndEventNames = {
                "WebkitAnimation": "webkitAnimationEnd",
                "OAnimation": "oAnimationEnd",
                "msAnimation": "MSAnimationEnd",
                "animation": "animationend"
            }
              , transEndEventNames = {
                "WebkitTransition": "webkitTransitionEnd",
                "MozTransition": "transitionend",
                "OTransition": "oTransitionEnd",
                "msTransition": "MSTransitionEnd",
                "transition": "transitionend"
            };
            this.animEndEventName = animEndEventNames[Modernizr.prefixed("animation")] + ".dlmenu";
            this.transEndEventName = transEndEventNames[Modernizr.prefixed("transition")] + ".dlmenu",
            this.supportAnimations = Modernizr.cssanimations,
            this.supportTransitions = Modernizr.csstransitions;
            this._initEvents()
        },
        _config: function() {
            this.open = false;
            this.$trigger = this.$el.children(".dl-trigger");
            this.$menu = this.$el.children("ul.dl-menu");
            this.$menuitems = this.$menu.find("li:not(.dl-back)");
            this.$el.find("ul.dl-submenu").prepend('<li class="dl-back"><a href="#">back</a></li>');
            this.$back = this.$menu.find("li.dl-back")
        },
        _initEvents: function() {
            var self = this;
            this.$trigger.on("click.dlmenu", function() {
                if (self.open)
                    self._closeMenu();
                else
                    self._openMenu();
                return false
            });
            this.$menuitems.on("click.dlmenu", function(event) {
                event.stopPropagation();
                var $item = $(this)
                  , $submenu = $item.children("ul.dl-submenu");
                if ($submenu.length > 0) {
                    var $flyin = $submenu.clone().css("opacity", 0).insertAfter(self.$menu)
                      , onAnimationEndFn = function() {
                        self.$menu.off(self.animEndEventName).removeClass(self.options.animationClasses.classout).addClass("dl-subview");
                        $item.addClass("dl-subviewopen").parents(".dl-subviewopen:first").removeClass("dl-subviewopen").addClass("dl-subview");
                        $flyin.remove()
                    };
                    setTimeout(function() {
                        $flyin.addClass(self.options.animationClasses.classin);
                        self.$menu.addClass(self.options.animationClasses.classout);
                        if (self.supportAnimations)
                            self.$menu.on(self.animEndEventName, onAnimationEndFn);
                        else
                            onAnimationEndFn.call();
                        self.options.onLevelClick($item, $item.children("a:first").text())
                    });
                    return false
                } else
                    self.options.onLinkClick($item, event)
            });
            this.$back.on("click.dlmenu", function(event) {
                var $this = $(this)
                  , $submenu = $this.parents("ul.dl-submenu:first")
                  , $item = $submenu.parent()
                  , $flyin = $submenu.clone().insertAfter(self.$menu);
                var onAnimationEndFn = function() {
                    self.$menu.off(self.animEndEventName).removeClass(self.options.animationClasses.classin);
                    $flyin.remove()
                };
                setTimeout(function() {
                    $flyin.addClass(self.options.animationClasses.classout);
                    self.$menu.addClass(self.options.animationClasses.classin);
                    if (self.supportAnimations)
                        self.$menu.on(self.animEndEventName, onAnimationEndFn);
                    else
                        onAnimationEndFn.call();
                    $item.removeClass("dl-subviewopen");
                    var $subview = $this.parents(".dl-subview:first");
                    if ($subview.is("li"))
                        $subview.addClass("dl-subviewopen");
                    $subview.removeClass("dl-subview")
                });
                return false
            })
        },
        closeMenu: function() {
            if (this.open)
                this._closeMenu()
        },
        _closeMenu: function() {
            var self = this
              , onTransitionEndFn = function() {
                self.$menu.off(self.transEndEventName);
                self._resetMenu()
            };
            this.$menu.removeClass("dl-menuopen");
            this.$menu.addClass("dl-menu-toggle");
            this.$trigger.removeClass("dl-active");
            if (this.supportTransitions)
                this.$menu.on(this.transEndEventName, onTransitionEndFn);
            else
                onTransitionEndFn.call();
            this.open = false
        },
        openMenu: function() {
            if (!this.open)
                this._openMenu()
        },
        _openMenu: function() {
            var self = this;
            $body.off("click").on("click.dlmenu", function() {
                self._closeMenu()
            });
            this.$menu.addClass("dl-menuopen dl-menu-toggle").on(this.transEndEventName, function() {
                $(this).removeClass("dl-menu-toggle")
            });
            this.$trigger.addClass("dl-active");
            this.open = true
        },
        _resetMenu: function() {
            this.$menu.removeClass("dl-subview");
            this.$menuitems.removeClass("dl-subview dl-subviewopen")
        }
    };
    var logError = function(message) {
        if (window.console)
            window.console.error(message)
    };
    $.fn.dlmenu = function(options) {
        if (typeof options === "string") {
            var args = Array.prototype.slice.call(arguments, 1);
            this.each(function() {
                var instance = $.data(this, "dlmenu");
                if (!instance) {
                    logError("cannot call methods on dlmenu prior to initialization; " + "attempted to call method '" + options + "'");
                    return
                }
                if (!$.isFunction(instance[options]) || options.charAt(0) === "_") {
                    logError("no such method '" + options + "' for dlmenu instance");
                    return
                }
                instance[options].apply(instance, args)
            })
        } else
            this.each(function() {
                var instance = $.data(this, "dlmenu");
                if (instance)
                    instance._init();
                else
                    instance = $.data(this, "dlmenu", new $.DLMenu(options,this))
            });
        return this
    }
}
)(jQuery, window);
</script>