---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include github-corner.html %}
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>书籍清单</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                                <a class="zoombtn" href="{{ site.url }}/es6/">ECMAScript 6 入门-阮一峰</a>
                                <p>为了个人方便查阅，记录于此。如有侵权联系本人删除</p>
                                <a href="{{ site.url }}/es6/" class="btn zoombtn">Read More</a>
                            </li>
                    </ul>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://pan.baidu.com/s/1q7ao6j1SQxu61d2Bcv82kQ">javascript权威指南（第六版）</a>
                            <p>公认的权威JavaScript程序员指南和参考手册</p>
                            <a href="https://pan.baidu.com/s/1q7ao6j1SQxu61d2Bcv82kQ" class="btn zoombtn">百度网盘</a>
                        </li>
                    </ul>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://pan.baidu.com/s/1k0jv2lBr_cAoqxnO5rOCLw">css权威指南（第三版）</a>
                            <p>书中对CSS的每个属性都做了详细的探究，同时讨论了各个属性之间如何协调、以及怎样避免一些常见错误。</p>
                            <a href="https://pan.baidu.com/s/1k0jv2lBr_cAoqxnO5rOCLw" class="btn zoombtn">百度网盘</a>
                        </li>
                    </ul>
                    <ul>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://pan.baidu.com/s/18Cw5054wnL9uRel4aR82ZQ">深入浅出Node.js</a>
                            <p>主要内容包含模块机制的揭示、异步I/O 实现原理的展现、异步编程的探讨、内存控制的介绍、二进制数据Buffer 的细节、Node 中的网络编程基础、Node 中的Web 开发、进程间的消息传递、Node 测试以及通过Node 构建产品需要的注意事项。</p>
                            <a href="https://pan.baidu.com/s/18Cw5054wnL9uRel4aR82ZQ" class="btn zoombtn">百度网盘</a>
                        </li>
                    </ul>
                    <ul>
                      <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://pan.baidu.com/s/1y69HA2B_Q6grrFGIQ4qCQw">深入浅出webpack</a>
                            <p>本书对Webpack进行了全面讲解，涵盖了Webpack入门、配置、实战、优化、原理等方面的内容</p>
                            <a href="https://pan.baidu.com/s/1y69HA2B_Q6grrFGIQ4qCQw" class="btn zoombtn">百度网盘</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
