--- 
layout: compress 
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  {% include github-corner.html %} {% include head.html %}

  <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>

<body>
  {% include nav.html %}
  <header class="header" role="banner">
    <div class="wrapper animated fadeIn" id="wrapper">
      <div class="content" id="content">
        <div class="post-title" id="post-title">
          <h1>{{ page.title }}</h1>
          <a class="returnbefore" id="returnbefore" href="{{ site.url }}/aboutfullpage/" rel="noopener noreferrer" target="_blank">全屏滚动预览</a>

        </div>
        <div class="resume">
          <div class="resume-left" id="resume-left">
            <div class="resume-avatars">
              <img src="{{ site.url }}/assets/img/logo.png" alt="">
            </div>
            <div class="resume-name">
              sheng的简历
            </div>
            <div class="resume-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>联系方式</span>
              </div>
              <ul class="box-list">
                <li>
                  <span class="icon">
                    <i class="fa fa-mobile phone"></i>
                  </span>
                  <span>电话：13661174052</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-envelope-o email"></i>
                  </span>
                  <span>邮箱：2367896538@qq.com</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Github：shengchangwei</span>
                  <a href="https://github.com/shengchangwei" target="_blank">
                    <i class="fa fa-link"></i>
                  </a>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-meanpath"></i>
                  </span>
                  <span>npm社区：shengchangwei</span>
                  <a href="https://www.npmjs.com/~shengchangwei" target="_blank">
                    <i class="fa fa-link"></i>
                  </a>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-weibo"></i>
                  </span>
                  <span>微博：老衲为尼</span>
                  <a href="https://www.weibo.com/6923046569/profile?topnav=1&wvr=6&is_all=1" target="_blank">
                    <i class="fa fa-link"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="resume-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>职位</span>
              </div>
              <ul class="box-list">
                <li>
                  <span class="icon">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                  <span>前端工程师</span>
                </li>
              </ul>
            </div>
            <div class="resume-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>技能树</span>
              </div>
              <ul class="box-list tree">
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>vue+vue-router+vuex</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>angular+typescript</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>二维地图+arcgis</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>webstrom+sublimeText+vscode</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>webpack+Git+svn</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>node+express+mysql搭建前后端分离项目</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-tree"></i>
                  </span>
                  <span>uni-app开发微信小程序</span>
                </li>
              </ul>
            </div>
            <div class="resume-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>阅读书籍</span>
              </div>
              <ul class="box-list book">
                <li>
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>《JavaScript设计模式与开发实践》</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>《微信小程序开发入门与实践》</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>《你不知道的JavaScript（上卷）》</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>《你不知道的JavaScript（中卷）》</span>
                </li>
                <li>
                  <span class="icon">
                    <i class="fa fa-book"></i>
                  </span>
                  <span>《你不知道的JavaScript（下卷）》</span>
                </li>
              </ul>
            </div>
            <div class="resume-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>个人评价</span>
              </div>
              <ul class="box-list">
                <li>
                  <span>爱折腾，爱技术，爱生活，积极乐观，有诗有远方的人</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="resume-right">
            <div class="right-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>基础信息</span>
              </div>
              <div class="box-content">
                <div class="box-info">
                  <span>
                    <i class="fa fa-user-o"></i>
                    <span>姓名：</span>
                    <span class="info-text">圣xxx</span>
                  </span>
                  <span>
                    <i class="fa fa-calendar"></i>
                    <span>出生日期：</span>
                    <span class="info-text">xxx</span>
                  </span>
                </div>
                <div class="box-info">
                  <span>
                    <i class="fa fa-venus-mars"></i>
                    <span>性别：</span>
                    <span class="info-text">男</span>
                  </span>
                  <span>
                    <i class="fa fa-map-marker"></i>
                    <span>地址：</span>
                    <span class="info-text">安徽省xxx</span>
                  </span>
                </div>
                <div>

                </div>
              </div>
            </div>
            <div class="right-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>教育背景</span>
              </div>
              <div class="box-content">
                <div class="box-info">
                  <span>
                    <i class="fa fa-mortar-board"></i>
                    <span>毕业院校：</span>
                    <span class="info-text">xxx</span>
                  </span>
                  <span>
                    <i class="fa fa-calendar-o"></i>
                    <span>起始年月：</span>
                    <span class="info-text">2014.9 - 2018.6</span>
                  </span>
                </div>
                <div class="box-info">
                  <span>
                    <i class="fa fa-bookmark"></i>
                    <span>学历：</span>
                    <span class="info-text">本科</span>
                  </span>
                  <span>
                    <i class="fa fa-book"></i>
                    <span>专业：</span>
                    <span class="info-text">xxx</span>
                  </span>
                </div>
                <div>

                </div>
              </div>
            </div>

            <div class="isApp">
              <div class="right-box">
                <div class="box-title">
                  <i class="fa fa-star"></i>
                  <span>联系方式</span>
                </div>
                <ul class="box-list" style="margin-left: 5px;">
                  <li>
                    <span class="icon">
                      <i class="fa fa-mobile phone"></i>
                    </span>
                    <span>电话：13661174052</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-envelope-o email"></i>
                    </span>
                    <span>邮箱：2367896538@qq.com</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-github"></i>
                    </span>
                    <span>Github：shengchangwei</span>
                    <a href="https://github.com/shengchangwei" target="_blank">
                      <i class="fa fa-link"></i>
                    </a>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-meanpath"></i>
                    </span>
                    <span>npm社区：shengchangwei</span>
                    <a href="https://www.npmjs.com/~shengchangwei" target="_blank">
                      <i class="fa fa-link"></i>
                    </a>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-weibo"></i>
                    </span>
                    <span>微博：老衲为尼</span>
                    <a href="https://www.weibo.com/6923046569/profile?topnav=1&wvr=6&is_all=1" target="_blank">
                      <i class="fa fa-link"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="right-box">
                <div class="box-title">
                  <i class="fa fa-star"></i>
                  <span>职位</span>
                </div>
                <ul class="box-list" style="margin-left: 5px;">
                  <li>
                    <span class="icon">
                      <i class="fa fa-user-circle-o"></i>
                    </span>
                    <span>前端工程师</span>
                  </li>
                </ul>
              </div>
              <div class="right-box">
                <div class="box-title">
                  <i class="fa fa-star"></i>
                  <span>技能树</span>
                </div>
                <ul class="box-list tree" style="margin-left: 5px;">
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>vue+vue-router-vuex</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>angular+typescript</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>二维地图+arcgis</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>webstrom+sublimeText+vscode</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>webpack+Git+svn</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>node+express+mysql搭建前后端分离项目</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-tree"></i>
                    </span>
                    <span>uni-app开发微信小程序</span>
                  </li>
                </ul>
              </div>

              <div class="right-box">
                <div class="box-title">
                  <i class="fa fa-star"></i>
                  <span>阅读书籍</span>
                </div>
                <ul class="box-list book">
                  <li>
                    <span class="icon">
                      <i class="fa fa-book"></i>
                    </span>
                    <span>《JavaScript设计模式与开发实践》</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-book"></i>
                    </span>
                    <span>《微信小程序开发入门与实践》</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-book"></i>
                    </span>
                    <span>《你不知道的JavaScript（上卷）》</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-book"></i>
                    </span>
                    <span>《你不知道的JavaScript（中卷）》</span>
                  </li>
                  <li>
                    <span class="icon">
                      <i class="fa fa-book"></i>
                    </span>
                    <span>《你不知道的JavaScript（下卷）》</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="right-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>工作经验</span>
              </div>
              <div class="box-content">
                <div class="box-company">
                  <span class="company-name">
                    <i class="fa fa-map-o"></i>
                    <span>xxxx</span>
                  </span>
                  <span class="company-time">
                    2017.4/至今~
                  </span>
                </div>
                <div class="company-content-title">
                  工作内容：
                </div>
                <div class="company-content-info">
                  <ul>
                    <li>1、使用angular5+typescript进行前端页面构建</li>
                    <li>2、使用angular5封装封装全局通用组件</li>
                    <li>3、基于angular-cli 及 ionic-cli 的移动端构建</li>
                    <li>4、基于arcgis进行二维地图水利信息展示</li>
                    <li>5、与后端，测试，UI，产品经理联调</li>
                    <li>6、使用vue2x搭建前端框架，进行页面构建</li>
                    <li>7、使用vue2x封装公司内部组件库</li>
                    <li>8、研究vue2x+typescript在项目中的使用</li>
                    <li>9、使用uni-app框架开发微信小程序，构建项目中小程序框架、封装小程序组件</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="right-box">
              <div class="box-title">
                <i class="fa fa-star"></i>
                <span>公司项目</span>
              </div>
              <div class="box-content project">
                <div class="box-company">
                  <span class="company-name">
                    <i class="fa fa-cog"></i>
                    <span>xxxxxx</span>
                  </span>
                  <span class="company-time">
                    2018/4 ~ 2018/7
                  </span>
                </div>
                <div class="company-content-title-project">
                  <div class="company-content-title"> 项目介绍：</div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                  <div class="company-content-title">
                    主要职责：
                  </div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                </div>


              </div>
              <div class="box-content project">
                <div class="box-company">
                  <span class="company-name">
                    <i class="fa fa-cog"></i>
                    <span>xxxx</span>
                  </span>
                  <span class="company-time">
                    2018/4 ~ 2018/7
                  </span>
                </div>
                <div class="company-content-title-project">
                  <div class="company-content-title"> 项目介绍：</div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                  <div class="company-content-title">
                    主要职责：
                  </div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                </div>


              </div>
              <div class="box-content project">
                <div class="box-company">
                  <span class="company-name">
                    <i class="fa fa-cog"></i>
                    <span>xxxxx</span>
                  </span>
                  <span class="company-time">
                    2018/4 ~ 2018/7
                  </span>
                </div>
                <div class="company-content-title-project">
                  <div class="company-content-title"> 项目介绍：</div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                  <div class="company-content-title">
                    主要职责：
                  </div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                </div>


              </div>
              <div class="box-content project">
                <div class="box-company">
                  <span class="company-name">
                    <i class="fa fa-cog"></i>
                    <span>xxxx</span>
                  </span>
                  <span class="company-time">
                    2018/4 ~ 2018/7
                  </span>
                </div>
                <div class="company-content-title-project">
                  <div class="company-content-title"> 项目介绍：</div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                  <div class="company-content-title">
                    主要职责：
                  </div>
                  <p style="text-indent: 4ch">前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开 发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开发前端开
                    发前端开发前端开发前端开发前端开发
                  </p>
                </div>


              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include scripts.html %}
  <script type="text/javascript">
    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
      document.getElementById('resume-left').style.display = 'none';
      var el = document.querySelectorAll('.resume-right .right-box .box-content .box-info>span');
      var timeEl = document.querySelectorAll('.box-company .company-time');
      var infoEl = document.querySelectorAll('.resume-right .right-box .box-content .box-info');
      document.querySelector('.company-content-info').style['margin-left'] = '20px';
      document.querySelector('.isApp').style.display = 'block';
      for (var i = 0; i <= el.length - 1; i++) {
        el[i].style.width = "100%";
        el[i].style.padding = "5px 0";
      };
      for (var i = 0; i <= timeEl.length - 1; i++) {
        timeEl[i].style.display = "none";
      };
      for (var i = 0; i <= infoEl.length - 1; i++) {
        infoEl[i].style.padding = "0 5px";
      };

    }
  </script>
  <script src="{{ site.url }}/assets/js/wow.min.js"></script>
  <script type="text/javascript">(new WOW).init();</script>

  <style>
    #post-title {
      margin-bottom: 0;
      position: relative;
    }

    #post-title h1 {
      margin-bottom: 0;
    }

    .returnback {
      float: left;
      margin-top: 8px;
    }

    .returnbefore .btn:hover {
      box-shadow: none;
    }

    .returnbefore {
      float: right;
      padding: 0;
      margin: 0;
      /* font-size: 12px; */
      line-height: 10px;
      border: 0;
    }

    #wrapper {
      max-width: 1200px;
      padding: 0;
    }

    .resume {
      border: 1px dotted #ccc;
      display: flex;
    }

    .resume-left {
      width: 336px;
      /* flex: 3; */
      /* height: 800px; */
      background-color: #fff;
      border-right: 1px dotted #ccc;
    }

    .resume-avatars {
      border: 1px solid #ccc;
      width: 160px;
      height: 160px;
      margin: 50px auto 20px auto;
    }

    .resume-name {
      font-size: 2em;
      text-align: center;
      padding: 20px 0;
    }

    .resume-box {
      margin: 0 5% 20px;
    }

    .box-title {
      color: rgb(0, 161, 214);
      font-size: 1.4em;
    }

    .box-list {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 20px;
      margin-top: 10px;
    }

    .box-list li {
      padding: 5px 0;
      color: #333;
    }

    .box-list li>span.icon {
      width: 18px;
      display: inline-block;
      font-size: 20px;
    }

    .box-list.book li>span.icon {

      font-size: 16px;
    }

    .box-list li>span.icon .email {
      font-size: 16px;
    }

    .box-list li>span.icon .phone {
      font-size: 24px
    }

    .box-list.tree li .icon {
      font-size: 16px;
    }

    .resume-right {
      flex: 1;
      color: #333;
    }

    .resume-right .right-box {
      padding: 20px;
      padding-bottom: 0;
    }

    .resume-right .right-box .box-title {
      border-bottom: 1px solid rgb(0, 161, 214);
      padding: 10px;
    }

    .resume-right .right-box .box-content .box-info {
      padding: 5px;
    }

    .resume-right .right-box .box-content .box-info>span {
      width: 49%;
      display: inline-block;
    }

    .resume-right .right-box .box-content .box-info>span>i {
      width: 20px;
    }

    .resume-right .right-box .box-content .box-info>span>.info-text {
      color: rgb(0, 161, 214);
    }

    .resume-right .right-box .box-content {
      font-family: Verdana, Arial;
      padding: 20px 0;
    }

    .resume-right .right-box .box-content.project {
      border-bottom: 1px solid #ccc;
    }

    .box-company {
      width: 100%;
      height: 20px;
      line-height: 20px;
      color: rgb(0, 161, 214);
    }

    .box-company .company-name {
      float: left;
    }

    .box-company .company-time {
      float: right;
    }

    .company-content-title {
      padding: 10px 0;
      color: rgb(91, 164, 229);
    }

    .company-content-info {
      margin-left: 40px;
    }

    .company-content-info ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .company-content-title-project .company-content-title {
      padding-bottom: 0;
    }

    .isApp {
      display: none;
    }

    #returnbefore {
      position: fixed;
      top: 72px;
      left: 1399px;
      z-index: 99;
      padding: 12px;
      display: inline-block;
      border: 1px solid;
      border-color: rgba(229, 230, 233, 0.5) rgba(223, 224, 228, 0.5) #d0d1d5;
      border-radius: 3px;
      text-decoration: none;
      background: #fff;
      color: #333;
      font-size: 14px;
      box-shadow: 0 0 4px #ccc;
    }

    #returnbefore:hover {
      color: red;
    }
  </style>
</body>

</html>